* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
  color: #f1f1f1;
}

a:hover {
  text-decoration: underline;
  color: #fff;
  text-shadow: none;
}

.font-white {
  color: #f1f1f1;
}

.page-wrapper {
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(6, auto);
}

#title {
  font-size: 2.5vw;
}

#title a:hover {
  text-decoration: none;
}

nav {
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-row: 2/2;
  grid-column: 2/-2;
  align-self: flex-start;
  z-index: 500;
}

.navbar-menu {
  display: grid;
  width: fit-content;
  grid-column: 2;
  align-items: center;
  justify-items: right;
  justify-self: right;
  grid-template-rows: auto;
  grid-template-columns: repeat(2, auto);
}

.navbar-menu ul {
  grid-column: 1;
  display: flex;
  list-style: none;
}

.navbar-menu ul li {
  font-size: 1.3vw;
  margin: 0 1rem;
  text-shadow: black 3px 3px 3px;
}

.navbar-menu input {
  grid-column: 2;
  justify-self: center;
  margin-right: 1rem;
  width: 6rem;
}

section {
  position: relative;
  grid-column: 1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  width: 100vw;
  height: 100vh;
  min-height: 50vw;
}

/* SECTION ONE */

#section-one {
  grid-row: 1;
  height: 100vh;
  box-shadow: rgb(128, 128, 128) 0 0.5rem 0.5rem;
}

#section-one h2, #section-one p {
  z-index: 800;
  opacity: 0.8;
}

.sub-menu {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1;
  grid-row: 5/9;
  grid-column: -1;
  background-color: #A3814E;
  z-index: 700;
  width: 5vw;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 1rem 0 0 1rem;
}

.sub-menu h2 {
  opacity: 0.5;
  align-self: center;
  justify-self: center;
  font-size: 1vw;
  writing-mode: vertical-lr;
  text-orientation: mixed;
}

.section-one-text-h2 {
  grid-row: 4/5;
  grid-column: 3/6;
}

.section-one-text-p {
  grid-row: 5/8;
  grid-column: 3/7;
}

.section-one-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.section-one-movie-overlay {
  grid-row: 1/-1;
  grid-column: 1/-1;
  width: 100%;
  height: 100%;
  background-color: rgb(145, 145, 145);
  opacity: 0.4;
  z-index: 300;
}

/* SECTION TWO */

#section-two {
  grid-row: 2;
  grid-template-columns: repeat(11, 1fr);
}

.section-two-circle {
  grid-row: 1;
  grid-column: 1;
  width: 20vw;
  height: 20vw;
  border: black 3px solid;
  opacity: 0.6;
  border-radius: 50%;
  justify-self: center;
  align-self: center;
}

#section-two img {
  justify-self: center;
  align-self: center;
  grid-column: 1;
  grid-row: 1;
  width: 13vw;
}

#section-two p {
  grid-row: 2;
  margin: 3vw;
  font-size: 1.2vw;
  height: 7vw;
  text-align: justify;
}

#section-two button {
  grid-row: 3;
  width: 10vw;
  height: 4vw;
  justify-self: center;
  border-radius: 4vw;
  background-color: #A3814E;
  color: #fff;
  opacity: 0.8;
  font-size: 1.2vw;
}

.section-two-left {
  grid-column: 2/5;
}

.section-two-center {
  grid-column: 5/8;
}

.section-two-right {
  grid-column: 8/11;
}

.section-two-left, .section-two-center, .section-two-right {
  grid-row: 3/-2;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
}

/* SECTION THREE */

#section-three {
  grid-row: 3;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(128, 128, 128) 0 -0.5rem 0.5rem;
}

.section-three-text {
  justify-self: center;
  grid-row: 5/9;
  grid-column: 9/-1;
  text-align: justify;
  font-size: 1.7vw;
  padding: 2vw;
  color: #f1f1f1;
  /* background-color: rgba(255, 255, 255, 0.795); */
  text-shadow: #454545 3px 3px 3px;
  border-radius: 2vw;
  margin: 3vw;
  height: 21.3vw;
  z-index: 500;
}

.section-three-button {
  grid-row: 11;
  grid-column: 2/4;
  width: 20vw;
  border-radius: 4vw;
  justify-self: center;
  background-color: #A3814E;
  color: #f1f1f1;
  opacity: 1;
  font-size: 1.5vw;
  z-index: 500;
}

.section-three-img, .section-five-img {
  grid-row: 1/-1;
  grid-column: 1/-1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-three-img {
  justify-self: right;
}

.section-three-img-overlay {
  grid-row: 1/-1;
  grid-column: 1/-1;
  width: 100%;
  height: 100%;
  background-color: rgb(145, 145, 145);
  opacity: 0.7;
  /* z-index: 100; */
}

/* SECTION FOUR */

#section-four {
  grid-row: 4;
  background-color: rgb(206, 193, 77);
}

/* SECTION FIVE */

#section-five {
  grid-row: 5;
  background-color: rgb(139, 11, 75);
}

/* SECTION SIX / FOOTER */