@media (min-width: 1200px) {
  section {
    min-height: 50vw;
  }
  .sub-menu {
    display: flex;
    grid-row: 1/-1;
    grid-column: -1;
    background-color: #A3814E;
    width: 3rem;
    height: 20rem;
    top: 30%;
  }
  .sub-menu h2 {
    margin: 1rem;
    font-size: 1rem;
  }
  #section-two {
    grid-row: 2;
    display: flex;
    margin: auto;
    justify-content: center;
  }
  #section-two div {
    margin: auto 3rem;
  }
  .section-two-circle {
    width: 12rem;
    height: 12rem;
    justify-self: center;
    align-self: center;
  }
  #section-two img {
    width: 7.3rem;
  }
  #section-two p {
    margin: auto;
    width: 15rem;
    font-size: 1rem;
    height: 4rem;
    text-align: justify;
  }
  #section-two button {
    justify-self: center;
    font-size: 1.2rem;
    width: 10rem;
    height: 3rem;
    border-radius: 3rem;
  }
  .section-two-left {
    grid-column: 2/5;
  }
  .section-two-center {
    grid-column: 5/8;
  }
  .section-two-right {
    grid-column: 8/11;
  }
  /* SECTION THREE */
  .section-three-text-wrapper {
    grid-row: 1/-1;
    grid-column: 1/-1;
    max-width: 40vw;
    justify-self: center;
    align-self: center;
    text-align: center;
  }
  .section-three-button {
    font-size: 1.4rem;
  }
  .section-three-title {
    font-size: 2.6rem;
  }
  .section-three-text {
    font-size: 1.3rem;
  }
  /* SECTION FIVE  */
  .section-five-paragraph {
    font-size: 1.05rem;
    max-width: 27rem;
  }
  .section-six-find-us-textarea {
    font-size: 1.7rem;
  }
}