* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

.font-one {
  font-family: 'Cairo', sans-serif;
}

.font-one-thin {
  font-family: 'Cairo', sans-serif;
  font-weight: 100;
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
  color: #f1f1f1;
}

a:hover {
  text-decoration: underline;
  color: #fff;
  text-shadow: none;
}

.font-white {
  color: #f1f1f1;
}

.box-shadow {
  box-shadow: #454545 4px 4px 4px;
}

.page-wrapper {
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(6, auto);
}

#title {
  font-size: 2.3vw;
  font-weight: bold;
}

#title a:hover {
  text-decoration: none;
}

nav {
  /* position: sticky;
  top: 0; */
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-row: 2/2;
  grid-column: 2/-2;
  align-self: flex-start;
  z-index: 5000;
}

.navbar-menu {
  display: grid;
  width: fit-content;
  grid-column: 2;
  align-items: center;
  justify-items: right;
  justify-self: right;
  grid-template-rows: auto;
  grid-template-columns: repeat(2, auto);
}

.navbar-menu ul {
  grid-column: 1;
  display: flex;
  list-style: none;
}

.navbar-menu ul li {
  font-size: 1.3vw;
  margin: 0 1rem;
  text-shadow: #454545 3px 3px 3px;
}

.navbar-menu input {
  grid-column: 2;
  justify-self: center;
  margin-right: 1rem;
  width: 6rem;
}

section {
  position: relative;
  grid-column: 1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  width: 100vw;
  height: 100vh;
  min-height: 65vw;
  max-height: 80vw;
}

.small-button {
  width: 10vw;
  height: 4vw;
  border-radius: 4vw;
  background-color: #A3814E;
  color: #fff;
  opacity: 0.8;
  font-size: 1.2vw;
}

.big-button {
  border-radius: 4vw;
  background-color: #A3814E;
  color: #f1f1f1;
  font-size: 1.5vw;
  z-index: 500;
  text-transform: uppercase;
  padding: 1rem;
}

.blur {
  position: sticky;
  top: 0;
  grid-row: 1;
  grid-column: 1/-1;
  background-color: #A3814E;
  opacity: 0;
  z-index: 1000;
}

/* SECTION ONE */

#section-one {
  grid-row: 1;
  height: 100vh;
  box-shadow: rgb(128, 128, 128) 0 0.5rem 0.5rem;
}

#section-one h2, #section-one p {
  z-index: 800;
  opacity: 0.9;
}

.sub-menu {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1;
  grid-row: 5/9;
  grid-column: -1;
  background-color: #A3814E;
  z-index: 700;
  width: 5vw;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 1rem 0 0 1rem;
}

.sub-menu h2 {
  align-self: center;
  justify-self: center;
  font-size: 1vw;
  writing-mode: vertical-lr;
  text-orientation: mixed;
}

.section-one-text-h2 {
  grid-row: 5;
  grid-column: 3/6;
  font-size: 3vw;
}

.section-one-text-p {
  grid-row: 6/9;
  font-size: 1.5vw;
  grid-column: 3/8;
  font-weight: 200;
}

.section-one-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.section-one-movie-overlay {
  grid-row: 1/-1;
  grid-column: 1/-1;
  width: 100%;
  height: 100%;
  background-color: rgb(145, 145, 145);
  opacity: 0.4;
  z-index: 300;
}

/* SECTION TWO */

#section-two {
  grid-row: 2;
  grid-template-columns: repeat(11, 1fr);
}

.section-two-circle {
  grid-row: 1;
  grid-column: 1;
  width: 20vw;
  height: 20vw;
  border: black 3px solid;
  opacity: 0.6;
  border-radius: 50%;
  justify-self: center;
  align-self: center;
}

#section-two img {
  justify-self: center;
  align-self: center;
  grid-column: 1;
  grid-row: 1;
  width: 13vw;
}

#section-two p {
  grid-row: 2;
  margin: 3vw;
  font-size: 1.2vw;
  height: 7vw;
  text-align: justify;
}

#section-two button {
  grid-row: 3;
  justify-self: center;
}

.section-two-left {
  grid-column: 2/5;
}

.section-two-center {
  grid-column: 5/8;
}

.section-two-right {
  grid-column: 8/11;
}

.section-two-left, .section-two-center, .section-two-right {
  grid-row: 3/-2;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
}

/* SECTION THREE */

#section-three {
  grid-row: 3;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(128, 128, 128) 0 -0.5rem 0.5rem;
}

.section-three-text-wrapper {
  grid-row: 1/-1;
  grid-column: 1/-1;
  max-width: 40vw;
  justify-self: center;
  align-self: center;
  text-align: center;
  z-index: 500;
}

.section-three-title {
  font-size: 3.4vw;
  margin-top: 3rem;
}

.section-three-text {
  /* justify-self: center;
  grid-row: 5/9;
  grid-column: 9/-1;
  text-align: right; */
  font-size: 1.7vw;
  font-weight: 300;
  padding: 0 2vw;
  color: #f1f1f1;
  /* background-color: rgba(255, 255, 255, 0.795); */
  /* text-shadow: #454545 3px 3px 3px; */
  margin: 3vw;
  height: 21.3vw;
}

.section-three-banner {
  justify-self: center;
  align-self: center;
  text-align: center;
  grid-row: 11;
  grid-column: -4/-1;
  font-size: 2vw;
  z-index: 1000;
  background-color: #a3814e8a;
  width: 100%;
  padding: 1rem;
  border-radius: 1rem 0 0 1rem;
  border: #f1f1f1 solid 1px;
}

/* .section-three-button {
  justify-self: center;
  align-self: flex-start;
  grid-row: 11;
  grid-column: -4/-2;
} */

.section-three-img, .section-five-img {
  grid-row: 1/-1;
  grid-column: 1/-1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-three-img {
  justify-self: right;
}

.section-three-img-overlay, .section-five-img-overlay {
  grid-row: 1/-1;
  grid-column: 1/-1;
  width: 100%;
  height: 100%;
  background-color: rgb(145, 145, 145);
  opacity: 0.7;
  /* z-index: 100; */
}

/* SECTION FOUR */

#section-four {
  grid-row: 4;
}

.section-four-left, .section-four-right {
  grid-row: 1 / -1;
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(4, 1fr);
}

.section-four-left {
  grid-column: 2 / 6;
}

.section-four-title {
  grid-row: 3;
  grid-column: 2/-1;
  align-self: center;
  justify-self: center;
  color: #A3814E;
  font-size: 2vw;
  letter-spacing: 0.5vw;
}

.section-four-left form {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-row: 3/-2;
  grid-column: 2/-1;
  grid-gap: 1rem;
  align-content: space-between;
}

.form-row-1, .form-row-2, .form-row-3, .form-row-4 {
  grid-column: 1/-1;
}

input, textarea {
  border-radius: 1vw;
  padding: 1vw;
  background-color: #ffe6693a;
}

.form-row-1 {
  grid-row: 2;
}

.form-row-2 {
  grid-row: 3;
}

.form-row-3 {
  grid-row: 4;
}

.form-row-4 {
  grid-row: 5/7;
}

.form-col-1, .form-col-2 {
  grid-row: 8;
}

.form-col-1 {
  grid-column: 1/3;
}

.form-col-2 {
  grid-column: 3/5;
}

.section-four-right {
  grid-column: 8 / -3;
  grid-gap: 1rem;
}

.section-four-right img {
  grid-row: 4/7;
  grid-column: 1/-1;
  width: 20vw;
  justify-self: center;
  align-self: flex-end;
}

.section-four-right p {
  grid-row: 7/10;
  grid-column: 1/-1;
  text-align: justify;
  align-self: flex-start;
  font-size: 0.8vw;
  padding: 1vw;
}

.section-four-right button {
  align-self: center;
  grid-column: 1/-1;
  grid-row: 11;
  height: 100%;
  font-size: 1.2vw;
}

/* SECTION FIVE */

#section-five {
  grid-row: 5;
}

.section-five-img-overlay {
  opacity: 0.5;
}

.section-five-paragraph {
  grid-row: -6/-1;
  grid-column: 2/5;
  font-size: 1vw;
  z-index: 500;
}

.section-five-title {
  z-index: 500;
  grid-row: 4;
  grid-column: 8/-2;
  letter-spacing: 2px;
  text-align: right;
}

.section-five-title h2 {
  text-transform: uppercase;
  font-size: 3vw;
}

.section-five-title h3 {
  font-size: 2vw;
  font-weight: 200;
}

/* SECTION SIX / FOOTER */

#section-six {
  grid-row: -1;
  background-color: #A3814E;
}

.fab {
  grid-column: 2/4;
  align-self: center;
  justify-self: center;
  font-size: 9vw;
}

.icon-1 {
  grid-row: 3/5;
}

.icon-2 {
  grid-row: 5/7;
}

.icon-3 {
  grid-row: 7/9;
}

.icon-4 {
  grid-row: 9/11;
}

.section-six-connect {
  justify-self: center;
  grid-column: 2/4;
  grid-row: 2;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.section-six-find-us {
  grid-row: 2;
  grid-column: 6/8;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.section-six-find-us-textarea {
  grid-row: 3 / -2;
  grid-column: 6/-2;
  border: white solid 1px;
  border-radius: 2vw;
}

@media (min-width: 1200px) {
  section {
    min-height: 50vw;
  }
  .sub-menu {
    display: flex;
    /* grid-template-columns: 1;
    grid-template-rows: 1; */
    grid-row: 1/-1;
    grid-column: -1;
    background-color: #A3814E;
    /* z-index: 700; */
    width: 3rem;
    height: 20rem;
    /* position: absolute; */
    top: 30%;
    /* right: 0; */
    /* border-radius: 1rem 0 0 1rem; */
  }
  .sub-menu h2 {
    margin: 1rem;
    font-size: 1rem;
    /* writing-mode: vertical-lr;
    text-orientation: mixed; */
  }
  #section-two {
    grid-row: 2;
    display: flex;
    margin: auto;
    justify-content: center;
  }
  #section-two div {
    margin: auto 3rem;
  }
  .section-two-circle {
    /* grid-row: 1;
    grid-column: 1; */
    width: 12rem;
    height: 12rem;
    /* border: black 3px solid;
    opacity: 0.6;
    border-radius: 50%; */
    justify-self: center;
    align-self: center;
  }
  #section-two img {
    /* justify-self: center;
    align-self: center;
    grid-column: 1;
    grid-row: 1; */
    width: 7.3rem;
  }
  #section-two p {
    /* grid-row: 2; */
    margin: auto;
    width: 15rem;
    font-size: 1rem;
    height: 4rem;
    text-align: justify;
  }
  #section-two button {
    /* grid-row: 3; */
    justify-self: center;
    font-size: 1.2rem;
    width: 10rem;
    height: 3rem;
    border-radius: 3rem;
  }
  .section-two-left {
    grid-column: 2/5;
  }
  .section-two-center {
    grid-column: 5/8;
  }
  .section-two-right {
    grid-column: 8/11;
  }
  /* SECTION THREE */
  .section-three-text-wrapper {
    grid-row: 1/-1;
    grid-column: 1/-1;
    max-width: 40vw;
    justify-self: center;
    align-self: center;
    text-align: center;
  }
  .section-three-button {
    font-size: 1.4rem;
  }
  .section-three-title {
    font-size: 2.6rem;
  }
  .section-three-text {
    font-size: 1.3rem;
  }
  .section-five-paragraph {
    font-size: 0.9vw;
  }
}

/* @media (min-width: 1440px) {
  .page-wrapper {
    display: none;
  }
} */

/* .section-two-left, .section-two-center, .section-two-right {
  margin: 0 3rem;
} */

/* .section-two-left, .section-two-center, .section-two-right {
  grid-row: 3/-2;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
} */

/* .sub-menu-two {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1;
  grid-row: 5/9;
  grid-column: -1;
  background-color: #A3814E;
  z-index: 700;
  width: 2rem;
  height: 30%;
  position: absolute;
  top: 30%;
  right: 0;
  border-radius: 1rem 0 0 1rem;
}
.sub-menu-two h2 {
  align-self: center;
  justify-self: center;
  font-size: 0.7rem;
  writing-mode: vertical-lr;
  text-orientation: mixed;
} */